---
---

// Colors

$light-background-color: {{ site.data.settings.light_colors.background }};
$light-background-alt-color: {{ site.data.settings.light_colors.background_alt }};
$light-text-color: {{ site.data.settings.light_colors.text }};
$light-text-alt-color: {{ site.data.settings.light_colors.text_alt }};
$light-accent-color: {{ site.data.settings.light_colors.accent }};

$dark-background-color: {{ site.data.settings.dark_colors.background }};
$dark-background-alt-color: {{ site.data.settings.dark_colors.background_alt }};
$dark-text-color: {{ site.data.settings.dark_colors.text }};
$dark-text-alt-color: {{ site.data.settings.dark_colors.text_alt }};
$dark-accent-color: {{ site.data.settings.dark_colors.accent }};

// Fonts

$body-font: {{ site.data.settings.font.body_font }};
$title-font: {{ site.data.settings.font.title_font }};

$regular-weight: {{ site.data.settings.font.regular_weight }};
$bold-weight: {{ site.data.settings.font.bold_weight }};