---
layout: home
hero: "/assets/images/wes-hero.jpg"
hero-alt: "Headshot of Wes Kennedy looking off screen"
now:
    - "Senior PMM [at] <a href='https://lightbeam.ai' target='_blank'>LightBeam.ai</a>"
    - "Trying to find myself again after many changes"
    - "Hanging out with the coolest 3yo on the planet"
---

<br />
<p>hi there! I'm wes kennedy. this is my little part of the web where i attempt at being my full self, well mostly my full self. this is not a site intended to varnish who i am, but rather give me a place to talk about anything that's on my mind.</p>
<p>you'll find blog posts, gear lists, and other randoms throughout my site. head over to my <a href="/about">about</a> page if you're interested to learn more about me or my career.</p>
<p>like many people, my writing comes and goes. i've lost a lot of it to time, bad migrations, and heavy editing. anything that remains posted i still stand by.</p> 
<p>i'm happy you're here. i love sharing my passions and ideas with people, as someone (seriously can't remember who) once said: "when someone with adhd gives you an extreme deep dive into something they're interested in, it's a sign of endearment, not them trying to look smart."</p>
<p>i have adhd and piles of interests, dive in!</p>
<hr>
<h2>now:</h2>
<p>this is what is front of mind for me right now...</p>
<ul>
{% for n in page.now %}
    <li>{{ n }}</li>
{% endfor %}
</ul>
<hr>
<h2>content:</h2>
<p>below you'll find some of my publicly accessible content, located elsewhere on the internets.</p>
<ul class="post-list">
    {% assign contents = site.content | sort: 'date' | reverse %}
    {% assign date_format = site.minima.date_format | default: "%Y-%m-%d" %}
    {% for item in contents limit: 5 %}
        <li>
            <a href="{{ item.ext_url }}" target=_blank>
                {% assign item_type = item.format | default: "blog" %}
                {% assign item_title = item.title | truncate: 80 | downcase %}
                {% if item_type == "webinar" %}
                    &#128170; {{ item_title }}
                {% elsif item_type == "youtube" %}
                    &#128250; {{ item_title }}
                {% elsif item_type == "podcast" %}
                    &#127897; {{ item_title }}
                {% elsif item_type == "conference" %}
                    &#128747; {{ item_title }}
                {% else %}
                    &#9997; {{ item_title }}
                {% endif %}
            </a><br />
            <span class="post-meta">{{ item.date | date: date_format | downcase }}</span>
        </li>
    {% endfor %}
</ul>
<a href="/recently">see more</a>
<hr>
<h2>recent posts:</h2>
<p>if i felt strongly enough about something, i probably wrote it here.</p>