// html,
// body {
//     background: #f1f5f2;
// }

html {
    height: 100%;
}

a {
    color: #e0afa0;
    text-decoration: none;
}

a:visited {
    color: #aa7e71;
}

a:hover {
	text-decoration: underline;
}

.backlinks {
    font-weight: 900;
    font-size: 24px;
}

body {
	background: #f1f5f2;
    color: #212738;
    font-family: monospace;
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
    min-height: 100%;
    overflow-wrap: break-word;
}

.post-meta {
    text-align: right;
}

h2,
h3,
h4,
h5,
h6 {
    margin-top: 3rem;
}

hr {
    margin: 2rem 0;
}

p {
    margin: 1rem 0;
}

li {
    margin: 0.4rem 0;
}

*:target {
    background: #e0afa0;
}

.wrapper {
    max-width: 640px;
    margin: 0 auto;
    padding: 4rem 2rem;
}

hr {
    text-align: center;
    border: 0;
    &:before {
        content: '/////'
    }
    &:after {
        content: attr(data-content) '/////'
    }
}

table {
    width: 100%;
}

table,
th,
td {
    border: thin solid #595959;
    border-collapse: collapse;
    padding: 0.4rem;
}

code {
    color: #a9bcd0;
    background: #595959;
    letter-spacing: 1.5px;
}

div.highlighter-rouge code {
    display: block;
    overflow-x: auto;
    white-space: pre-wrap;
    padding: 1rem;
}

blockquote {
    font-style: italic;
    background: #a9bcd0;
    color: #212738;
    padding: 1rem;
    p {
        margin: 0;
    }
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

// Dark Mode
@media (prefers-color-scheme: dark) {
    body {
		background: #212738;
		color: #f1f5f2;
    }
}