// - - - - - - - - - - - - - - - - - -

// Section - Hero

// - - - - - - - - - - - - - - - - - -


.hero {
	position: relative;
	padding: 40px 0 160px;
	margin-bottom: -30px;

	.title {
		margin-bottom: 24px;
	}

	.title .subtitle {
		margin-bottom: 8px;
	}

	.hero__cta {
		position: absolute;
		left: 0;
		bottom: -70px;
	}

	@include mq(tabletp) {
		padding: 40px 0 180px;
		margin-bottom: 60px;

		.wrap {
			grid-template-columns: 3fr 1fr;
		}

		.title {
			margin-bottom: 0;
			max-width: none;
		}

		.hero__cta {
			display: none;
		}
	}
}

.hero__background {
	display: block;
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	z-index: -1;
	max-width: 190%;
	display: none;

	@include mq(tabletl) {
		display: block;
		margin-top: 100px;
	}
}